<div class="modal-header">
    <h4 class="modal-title">
        Transferência de Leads
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" ng-submit="ctrl.transferirLeadsUsuarioRemovido();">
        <div class="row">
            <div class="form-group">
                <label class="col-md-3 control-label" for="inputSubject">
                    Equipe
                </label>
                <div class="col-md-9">
                    <select ng-required="true" class="form-control" id="inputSubject" ng-model="ctrl.transferencia.equipe" ng-options="equipe as equipe.nome for equipe in ctrl.equipesUsuarioRemovido">
                    </select>
                </div>
            </div>
            <div class="form-group" ng-init="tipoTransferencia = 'fila'">
                <label class="col-md-3 control-label" for="inputSubject">
                    Enviar para:
                </label>
                <div class="col-md-9">
                    <div class="btn-group">
                        <a class="btn {{tipoTransferencia == 'fila' ?'btn-primary': 'btn-default'}}" ng-click="tipoTransferencia = 'fila'; ctrl.transferencia.usuario=null;">
                            Fila
                        </a>
                        <a class="btn {{tipoTransferencia == 'usuario' ?'btn-primary': 'btn-default'}}" ng-click="tipoTransferencia = 'usuario' ">
                            Usuário(s)
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="tipoTransferencia == 'usuario'">
                <label class="col-md-3 control-label" for="inputSubject">
                    Usuário
                </label>
                <div class="col-md-9">
                    <select ng-required="tipoTransferencia == 'usuario' ? true : false" class="form-control" id="inputSubject" ng-model="ctrl.transferencia.usuario" ng-options="usuario as usuario.nome for usuario in ctrl.transferencia.equipe.usuariosList">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <section class="buttons" layout="row" layout-align="center" layout-sm="column" layout-wrap="">
                <button class="btn btn-default" ng-click="ctrl.modalTransferencia.close();" type="reset">
                    Cancelar
                </button>
                <button class="btn btn-primary" type="submit">
                    Registrar
                </button>
            </section>
            <div ng-show="ctrl.mostrarTexto" layout="row" layout-align="center" class="col-md-12 control-label" style = "background-color:#f2f2f2; font-weight: bold">
                Aguarde enquanto as leads são transferidas 
                <i class="fa fa-cog fa-spin fa-2x fa-fw" ></i>
            </div>
        </div>
    </form>
</div>