<md-tab label="Perfis de Usuários">
    <md-content>
        <div class="col-lg-offset-3 col-lg-6 col-md-8 col-md-offset-2 col-sm-12 panel-config">
            <perfect-scrollbar class="scroller-configs" min-scrollbar-length="20" refresh-on-change="true" wheel-propagation="true" wheel-speed="1">
                <div class="col-lg-12" ng-repeat="perfil in ctrl.perfis | orderBy : ['nome','id']">
                    <div class="input-group">
                        <input class="form-control" ng-disabled="!perfil.edit" ng-model="perfil.nome" type="text"/>
                        <div class="input-group-btn">
                            <button class="btn btn-primary inline-edit" ng-click="ctrl.modalPerfil(perfil)" type="button">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-danger inline-edit" ng-click="ctrl.removerPerfil(perfil)" ng-disabled="" type="button">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
            <div class="form-group">
                <section class="buttons" layout="row" layout-align="center" layout-sm="column" layout-wrap="">
                    <button class="btn btn-default" ng-click="" type="button">
                        Limpar Alterações
                    </button>
                    <button class="btn btn-primary" ng-click="ctrl.modalPerfil({})" type="submit">
                        Adicionar novo
                    </button>
                </section>
            </div>
        </div>
    </md-content>
</md-tab>