<div class="container main-content">
    <div aling="center" style="width: 100%;text-align: center;">
        <img src="../images/sejadireto-trans.png" style="height:92px;width:272px; margin: auto;">
        </img>
    </div>
    <form ng-submit="authCtrl.login(authCtrl.user)">
        <div class="loginbox-textbox form-group">
            <input class="form-control" ng-model="authCtrl.user.email" placeholder="Email" type="text" ng-required="true"/>
        </div>
        <div class="loginbox-textbox form-group">
            <input class="form-control" ng-keypress="($event.keyCode === 13) ? authCtrl.login(): return;" ng-model="authCtrl.user.password" placeholder="Password" type="password"  ng-required="true"/>
        </div>
        <div class="loginbox-textbox form-group">
			<a ui-sref="esqueci" >Esqueci minha senha</a> 
		</div>
        <div class="loginbox-submit">
            <input class="btn btn-primary btn-block" type="submit" value="Login" ng-disabled="authCtrl.disable" />
        </div>
    </form>
    <div class="logobox">
    </div>
    <div ng-show="authCtrl.message">
        <span>
            {{ authCtrl.message }}
        </span>
    </div>
</div>