<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <canvas chart-data="ctrl.chart.data" chart-labels="ctrl.chart.labels" chart-legend="true" chart-colors="ctrl.chart.colors"
        chart-options="ctrl.chart.options" class="chart chart-pie" id="pie" height="200px">
    </canvas>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <table class="table table-bordered" id="tableExport">
        <thead style="background-color:#e0e0e0 ; font-weight: bold;color:#666666" ng-init="ctrl.order='-value'">
            <tr>
                <th bgcolor="#e0e0e0">
                    Motivo
                </th>
                <th bgcolor="#e0e0e0" ng-click="ctrl.order = (ctrl.order=='value' ? '-value' : 'value')" style="outline: none;">
                    Quantidade
                    <i class="material-icons" ng-if="ctrl.order=='value'">
                        arrow_drop_up
                    </i>
                    <i class="material-icons" ng-if="ctrl.order=='-value'">
                        arrow_drop_down
                    </i>
                </th>
                <th bgcolor="#e0e0e0">
                    %
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in ctrl.chart.table | orderBy : ctrl.order track by $index">
                <td>
                    <button class="btn btn-default btn-sm" ng-click="ctrl.goToMotivo(data.id)">
                        <i class="fa fa-external-link">
                        </i>
                        <md-tooltip>
                            Lista de encerradas
                        </md-tooltip>
                    </button>&nbsp;&nbsp;
                    {{data.label}}
                </td>
                <td>
                    {{data.value}}
                </td>
                <td>
                    {{((data.value/ ctrl.chart.totalCount ) * 100 )| number: 2 }}%
                </td>
            </tr>
        </tbody>
        <thead style="background-color:#e0e0e0 ; font-weight: bold;color:#666666">
            <tr>
                <th bgcolor="#e0e0e0">
                    {{ (ctrl.filtros[1].usuariosList && ctrl.filtros[1].usuariosList.length > 0) ? 'Dados dos vendedores: ' +
                    ctrl.getTextoFiltro(ctrl.filtros[1].usuariosList,'vendedores','nome') : 'Dados de todos os
                    vendedores' }}
                </th>
                <th align="right" bgcolor="#e0e0e0">
                    Total:
                </th>
                <th bgcolor="#e0e0e0">
                    {{ctrl.chart.totalCount}}
                </th>
            </tr>
        </thead>
    </table>
</div>
<div class="col-xs-12" style="font-style: italic;">
    <div align="center" class="col-xs-12">
        <strong>
            Filtros Utilizados
        </strong>
    </div>
    <div class="col-xs-4">
        <strong>
            Período:
        </strong>
    </div>
    <div class="col-xs-8">
        {{ctrl.filtros[1].inicio}} a {{ctrl.filtros[1].fim}}
    </div>
    <div class="col-xs-4">
        <strong>
            Tipo de veículo:
        </strong>
    </div>
    <div class="col-xs-8">
        <span ng-if="ctrl.filtros[1].tipoVeiculo==null">
            Todos
        </span>
        <span ng-if="ctrl.filtros[1].tipoVeiculo=='NOVO'">
            Novo
        </span>
        <span ng-if="ctrl.filtros[1].tipoVeiculo=='SEMINOVO'">
            Semi-novo
        </span>
    </div>
    <div class="col-xs-4">
        <strong>
            Midia(s):
        </strong>
    </div>
    <div class="col-xs-8">
        {{ ctrl.getTextoFiltro(ctrl.filtros[1].midiaIds,'midias','nome') }}
    </div>
    <div class="col-xs-4">
        <strong>
            Canal(is):
        </strong>
    </div>
    <div class="col-xs-8">
        {{ ctrl.getTextoFiltro(ctrl.filtros[1].canalIds,'canais','name') }}
    </div>
    <div class="col-xs-4">
        <strong>
            Vendedor(es):
        </strong>
    </div>
    <div class="col-xs-8">
        {{ ctrl.getTextoFiltro(ctrl.filtros[1].usuarioIds,'usuarios','nome',1) }}
    </div>
    <div class="col-xs-4">
        <strong>
            Motivos(s):
        </strong>
    </div>
    <div class="col-xs-8">
        {{ ctrl.getTextoFiltro(ctrl.filtros[1].motivoIds,'motivos','name') }}
    </div>
</div>